## Import packages
import(methods)

## Import definitions
importFrom("graphics", "axis", "legend", "plot", "points", "polygon",
	"segments")
importFrom("stats", "terms")

## Export regular function names
export(
	curve_area,
    error_bars,
    gap_id,
    gap_fill,
    get_ring,
    shadows,
    shadowplot,
    sloss,
    strp,
    stringplot
)

# S3 methods for shadowplot
S3method(shadowplot, default)
S3method(shadowplot, numeric)
S3method(shadowplot, data.frame)
S3method(shadowplot, formula)

# S3 methods for stringplot
S3method(stringplot, default)
S3method(stringplot, numeric)
S3method(stringplot, data.frame)
S3method(stringplot, formula)

# S3 methods for SLOSS
S3method(plot, SLOSS)
